
.DialogTitle {
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 0;
    text-align: center;
  }
  
  .DialogContent {
    padding: 20px;
    text-align: center;
  }
  
  .DialogContent p {
    margin-bottom: 10px;
  }
  
  .DialogActions {
    padding: 10px 20px;
  }
  
  .Button {
    background-color: #4caf50;
    color: white;
  }
  .image{
    width: 50px;
    height: 50px;
     margin-left: 170px;
  }

  

  